<div class="inner">
  <div class="news-letter">
    <h4>FLOZABLE</h4>
    <p>Join our newsletter for the latest updates.</p>
    <form action="">
      <input type="text">
    </form>
  </div>
  <div class="categories">
    <h4>Categories</h4>
    <ul>
      <% for(var i = 0; i < categories.length; i++){%>
        <li>
          <a href=../category/<%= categories[i].Tables_in_automated_blog%>><%= categories[i].Tables_in_automated_blog.replaceAll("_", " ")%></a>
        </li>
      <%}%>
    </ul>
  </div>
  <div class="companay">
    <h4>Company</h4>
    <ul>
      <li>
        <a href="/about-us">About</a>
      </li>
      <li>
        <a href="/privacy-policy">Privacy Policy</a>
      </li>
      <li>
        <a href="/terms-of-use">Terms & Conditions</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </div>
  <div class="github">
    <a href="https://github.com/dIwnsgml/Automated-blog">Github</a>
  </div>
</div>