<div class="inner">
  <div class="news-letter">
    <h4>FLOZABLE</h4>
    <p>Join our newsletter for the latest updates.</p>
    <div class="email-container">
      <div class="email-content">
        <form class="subscription"  method="GET">
          <input class="add-email" type="email" placeholder="subscribe@me.now" name = "email">
          <button class="submit-email" type="button">
            <span class="before-submit">Subscribe</span>
            <span class="after-submit">Thank you for subscribing!</span>
           </button>
        </form>
      </div>
    </div>
  </div>
  <div class="categories">
    <h4>Categories</h4>
    <ul>
    </ul>
  </div>
  <div class="companay">
    <h4>Company</h4>
    <ul>
      <li>
        <a href="/about-us">About</a>
      </li>
      <li>
        <a href="/privacy-policy">Privacy Policy</a>
      </li>
      <li>
        <a href="/terms-of-use">Terms & Conditions</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </div>
  <div class="github">
    <a href="https://github.com/dIwnsgml/Automated-blog"><h4>Github</h4></a>
  </div>
</div>