<header>
  <div class="inner">
    <ul class = "mobile">
      <li>
        <button id = "btn-logo">
          <img src="/img/logo2.png" alt="floz_logo">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </li>
      <li id = "modal2-open">
        <i class="fa-solid fa-bars fa-xl"></i>
      </li>
      <li>
        <a href="/support">
          <i class="fa-solid fa-headset fa-xl"></i>
        </a>
      </li>
    </ul>
    <ul class = "pc">
      <li>
        <button id = "btn-logo">
          <a href="/">
            <img src="/img/floz.jpg" alt="floz_logo">
          </a>
        </button>
      </li>
      <li>
        <div class="title">
          <h2>Fields</h2>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="item">
          <ul>       
          </ul>
        </div>
      </li>
      <!-- <li>
        <div class="title">
          <h2>ABOUT</h2>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="item">
          <ul>
            <li><a href="/our-story/floz">About </a></li>
            <li><a href="/our-story/flozgame">About </a></li>
          </ul>
        </div>
      </li> -->
      <li>
        <div class="search-box">
          <form action="/search" method="POST">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search" placeholder="Type to Search..." name = "query">
          </form>
        </div>
      </li>
      <li>
        <div class="title">
          <a href="">Page</a>
        </div>
        <div class="item page">
          <ul>
            <li>
              <h3><a href="/">Home</a></h3>
            </li>
            <li>
              <h3><a href="https://github.com/dIwnsgml/Automated-blog">github</a></h3>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</header>