<div class="modal">
  <div class="modal-inner">
    <div class="header-list">
      <ul>
        <!-- <li><a href="">Fields</a></li> -->
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/terms-of-use">Terms & Conditions</a></li>
        <li><a href="https://github.com/dIwnsgml/Automated-blog">Github</a></li>
      </ul>
    </div>
    <div class="social">
  
    </div>
  </div>
</div>