<!DOCTYPE html>
<html lang="en">
<head>
  <title>CONNECTWITH</title>
  <%- include("./elements/head");%>
  <link rel="stylesheet" href="../../css/elements/header.css">
  <link rel="stylesheet" href="../../css/article.css">
  <script defer src = "../../js/header.js"></script>
</head>
<body>
  <%- include("./elements/header");%>
  <div class="main">
    <div class="inner">
      <div class="article">
        <%- article.text%>
      </div>
    </div>
  </div>
</body>
</html>