<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./elements/head");%>
  <link rel="stylesheet" href="css/subpage.css">
  <script defer src = "js/subpage.js"></script>
  <script defer src = "js/header.js"></script>
  <script defer src = "js/footer.js"></script>
  <title>FLOZABLE | Contact</title>
</head>
<body>
  <%- include("./elements/header");%>
  <div class="main">
    <div class="swiper-slide">
      <img src="./img/ai_writing.png" alt="">
      <div class="top">
        <div class="blur">
          <div class="text">
            <div class="first">
              <p>Contact Us</p>
            </div>
            <!-- <div class="bottom">
              <button>Join for Free</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="explanation">
      <p>junjason1126@gmail.com</a>
    </div>
    <footer>
      <%- include("./elements/footer");%>
    </footer>
  </div>
</body>
</html>