<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./elements/head");%>
  <link rel="stylesheet" href="css/subpage.css">
  <script defer src = "js/subpage.js"></script>
  <script defer src = "js/header.js"></script>
  <title>Search result</title>
</head>
<body>
  <%- include("./elements/header");%>
  <div class="main">
    <div class="explanation">
      <h2>Privacy Policy</h2>
      <h3>1. General</h3>
      <p>At Flozable.blog, we value your privacy and have created this Privacy Policy to inform you about how we collect, use, and share your personal data.

        This Privacy Policy ("Policy") outlines the personal data received by Flozable.blog ("we," "us," or "our") and how we process it, as well as your rights and responsibilities concerning your personal data. Flozable.blog is owned and operated by Flozable, and we act as the data controller for the purposes of the General Data Protection Regulation ("GDPR") and any applicable local legislation ("Data Protection Laws").
        
        By using or accessing our Service, you agree to the terms of this Privacy Policy. If you have any questions or concerns about our policy, please contact us at [insert contact information]. Any capitalized terms not defined in this Policy are defined in our Terms of Use, which can be found at [insert website URL].</p>
        <h3>2. Cookies</h3>
        <p>When you enter the Website, we collect your browser type and your IP address (a unique address that identifies your computer on the Internet). When you use our Apps, we collect your device type, your device ID, and your IP address.

          In addition, we store certain information from your browser using "cookies." A cookie is a piece of data stored on the user's computer tied to information about the user. We use session ID cookies to confirm that users are logged in. If you do not want information collected through the use of cookies, there is a simple procedure in most browsers that allows you to deny or accept the cookie feature; however, you should note that cookies may be necessary to provide you certain features available on the Websites (e.g., customized delivery of information).</p>
  </div>
  <footer>
    <%- include("./elements/footer");%>
  </footer>
</body>
</html>