@import url("elements/footer.css");
@import url("elements/header.css");

.main {
  position: absolute;
  display: block;
  width: 100%;
  top: 100px;
}

a:visited {
  color: #000;
}
/* for animation */

.clear{
  clear: both;
}

:root {
  --bar_width: 10%;

}

.main > .inner {
  width: 50vw;
  margin-left: 25vw;
}
.main {
  top: 100px;
}
.main h1 {
  font-size: 33px;
  margin: 30px;
}

.main h2 {
  font-size: 30px;
  margin: 25px;
}

.main h3 {
  font-size: 20px;
  margin: 20px;
}

.main h4 {
  font-size: 20px;
  margin: 15px;
}

.main h5 {
  font-size: 20px;
  margin: 10px;
}

.main h6 {
  font-size: 20px;
  margin: 5px;
}

.main p {
  font-size: 20px;
  line-height: 30px;
}
.main > .inner li{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif!important;
  list-style:square;
  line-height: 25px;
}

pre, code {
  font-family: 'Source Code Pro', monospace;
  padding: 10px;
  background-color: black;
  color: rgb(146, 236, 107);
  border-radius: 5px;
  line-height: 50px;
}

p > code {
  padding: 0px;
  line-height: 30px;
}

.items > ul {
  align-items: center;
}
#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: none;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
.related-wrapper {
  /* background-image: url("/img/cloud.jpg"); */
  background-color: rgb(236, 209, 170);
  width: 100%;
  height: 530px;
  text-align: center;
  margin-top: 100px;
  color: #fff;
}
/* 


.guideline .items {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow-y: scroll;
  height: 1000px;
  align-items: center;
}

.guideline .items > ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.guideline .items > ul > li {
  display: block;
  width: 15.5vw;
  min-width: 300px;
  height: 400px;
  background-color: whitesmoke;
  border-radius: 10px;
  color: #000;
  margin: 15px;
  position: relative;
  border: 2px solid rgba(39, 38, 38, 0.69);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.guideline .items > ul > li a {
  color: #000;
  text-decoration: none;;
}
.guideline .items .tags {
  height: 30px;
  text-align: left;
  font-size: 13px;
  word-break: keep-all;
  word-wrap: break-word;
  font-style: italic;
  margin-left: 10px;
  width: 15vw;
}

.guideline .items .img_area {
  width: 100%;
  height: 50%;
  background-color: #fff;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.guideline .items .img_area img{
  max-width: 100%;
  max-height: 90%;
  border-radius: 10px;
  margin-top: 30px;
}

.guideline .items .topic {
  font-size: 18px;
  margin: 30px 0px 0px 30px;
  font-weight: bolder;
  text-align: left;
  height: 38px;
  padding: 0px;
}

.guideline .explanation {
  text-align: left;
  margin-left: 15px;
  height: 130px;
  overflow-y: hidden;
  margin-top: 0px;
  overflow-y: hidden;
}

/*   .guideline .tags {

} */

*/
.related {
  width: 80vw;
  left: 10vw;
  position: absolute;
  text-align: center;
  overflow-y: hidden;
  height: 450px;
  text-align: center;
}

.related .articles-wrapper {
  display: flex;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
}

.related .related_articles {
  display: block;
  width: 15.5vw;
  min-width: 300px;
  height: 400px;
  background-color: whitesmoke;
  border-radius: 10px;
  color: #000;
  margin: 15px;
  float: left;
  position: relative;
  border: 2px solid rgba(39, 38, 38, 0.69);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#style-8::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
border-radius: 10px;
}

#style-8::-webkit-scrollbar
{
width: 10px;
background-color: #f6c6c6;
}

#style-8::-webkit-scrollbar-thumb
{
border-radius: 10px;
background-image: -webkit-gradient(linear,
                    left bottom,
                    left top,
                    color-stop(0.44, rgb(122,153,217)),
                    color-stop(0.72, rgb(73,125,189)),
                    color-stop(0.86, rgb(28,58,148)));
}
/* 
  display: block;
  width: 15.5vw;
  min-width: 300px;
  height: 400px;
  background-color: whitesmoke;
  border-radius: 10px;
  color: #000;
  margin: 15px;
  position: relative;
  border: 2px solid rgba(39, 38, 38, 0.69);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
*/


.related a {
  color: #7777fd;
}

.related > ul > li a:hover {
  color: #7777fd;
  text-decoration: underline;
}

.related .related_articles .tags {
  height: 30px;
  text-align: left;
  font-size: 13px;
  word-break: keep-all;
  word-wrap: break-word;
  font-style: italic;
  margin-left: 10px;
  width: 15vw;
}

.related .related_articles .img_area {
  width: 100%;
  height: 50%;
  background-color: #fff;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.related .related_articles .img_area img{
  max-width: 100%;
  max-height: 90%;
  border-radius: 10px;
  margin-top: 30px;
}

.related .topic {
  font-size: 20px;
  margin: 30px 0px 0px 30px;
  font-weight: bolder;
  text-align: left;
  padding: 0px;
}

.related .topic h3{
  padding: 0px;
  margin: 0px;
}

.related .explanation {
  text-align: left;
  margin-left: 15px;
  max-height: 140px;
  overflow-y: hidden;
  margin-top: 0px;
  overflow-y: hidden;
}

.related .explanation h3{
  font-size: 16px;
}

.likes {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.likes button{
  padding: 20px 50px 20px 50px;
  background-color: #a3a3ec;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 20px;
}
.likes button p{
  float: right;
}

footer {
  margin-top: 0px;
}