/* @import url("elements/header.css");
@import url("elements/footer.css");
@import url("elements/modal.css"); */

.main {
  height: 2000px;
  position: absolute;
  display: block;
  width: 100%;
}

html {
  overflow-x: hidden;
}

a:visited {
  color: #000;
}
/* for animation */

@keyframes tright {
  from {
    transform: translate(-200px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes tleft {
  from {
    transform: translate(200px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes blur {
  to {
    backdrop-filter: blur(8px); 
  }
}


@media (min-width: 700px) {
  .swiper {
    position: absolute;
    width: 100%;
    overflow: hidden;
  }

  .swiper-slide{
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .swiper-slide-active{
    z-index: 10;
  }

  .swiper-slide img{
    height: 100vh;
    object-fit: cover;
    object-position: center; /* Center the image within the element */
    width: auto;
    position: absolute;
  }
  
  .swiper-pagination {
    z-index: 1;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #fff;
  }

  .main .top {
    overflow: hidden;
    background-image: url("/img/slider/logo.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .main .top .blur {
    width: 100vw;
    height: 100vh;
    animation: blur 2s alternate forwards;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .main .top .text {
    text-align: center;
    width: 80%;
  }
  
  .main .top .text .first{
    animation: tright 1.1s alternate;
    font-size: 70px;
    margin-bottom: 20px;
  }
  
  .main .top .text .second{
    opacity: 0;
    animation: tleft 1.1s alternate forwards;
    animation-delay: 1.5s;
    font-size: 30px;
  }
  
  .main .top .bottom {
    margin-top: 50px;
    text-align: center;
  }

  .main .top .bottom button{
    padding: 20px 40px;
    background-color: #7777fd;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 23px;
    position: relative;
    cursor: pointer;
  }

  .main .top .bottom button:hover {
    background-color:#0202cf;
  }

  /* section code */
  .main .section {
    top: 110vh;
    position: absolute;
  }

  .main .section .title{
    display: flex;
    padding-top: 100px;
  }

  .main .section .g-top {
    position: relative;
    background-color: rgb(236, 209, 170);
    width: 100vw;
    left: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 50px;
  }

  .main .section .inner {
    width: 70vw;
    transform: translate(15vw);
    position: relative;
  }

  .main .section .title h2{
    color: #000;
    font-size: 60px;
  }

  .main .section .title a {
    color: #000;
    padding: 10px 20px 10px 20px;
    position: relative;
  }

  .main .section .inner .title a:hover {
    color: #000;
    text-decoration: underline;
  }

  .main .section .inner .title a i{
    margin-left: 5px;
  }

  .clear{
    clear: both;
  }
  
  :root {
    --bar_width: 10%;

  }

  .slide-toggle{
    display: none;
  }
  
  .slidemenu{
    font-family: arial, sans-serif;
    max-width: 1100px;
    margin: 50px auto;
    overflow: hidden;
  }

  .slidemenu input {
    z-index: 100;
  }
  
  .slidemenu label{
    width: var(--bar_width);
    text-align: center;
    display: block;
    float: left;
    color: #333;
    opacity: 0.2;
    z-index: -10;
  
  }
  
  .slidemenu label:hover{
    cursor: pointer;
    color: #666;
  }
  
  .slidemenu label span{
    display: block;
    padding: 10px;    
  }
  
  .slidemenu label .icon{
    font-size: 20px;
    border: solid 2px #333;
    text-align: center;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 50%;
  }
  
  /*Bar Style*/

  .slider{
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .slider .bar{
    width: var(--bar_width);
    height: 5px;
    background: #333;
    border-radius: 5px;
  }
  
  /*Animations*/
  .slidemenu label, .slider .bar {
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
  }
  
  /*Toggle*/
  
  .slidemenu .slide-toggle:checked + label{
    opacity: 1;
  }
  
  
  
  .slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
  .slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: var(--bar_width)}
  .slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: calc(var(--bar_width) * 2)}
  .slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: calc(var(--bar_width) * 3)}
  .slidemenu #slide-item-5:checked ~ .slider .bar{ margin-left: calc(var(--bar_width) * 4)}
  .slidemenu #slide-item-6:checked ~ .slider .bar{ margin-left: calc(var(--bar_width) * 5)}
  .slidemenu #slide-item-7:checked ~ .slider .bar{ margin-left: calc(var(--bar_width) * 6)}
  .slidemenu #slide-item-8:checked ~ .slider .bar{ margin-left: calc(var(--bar_width) * 7)}
  .slidemenu #slide-item-9:checked ~ .slider .bar{ margin-left: calc(var(--bar_width) * 8)}
  .slidemenu #slide-item-10:checked ~ .slider .bar{ margin-left: calc(var(--bar_width) * 9)}
  
  .sort {
    height: 150px;
    font-family: 'Montserrat', sans-serif!important;
  }
  .sort button#sort_btn{
    padding: 20px;
    background-color: black;
    color: #fff;
  }
  .sort-opt input {
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  }
  
  .sort-opt input:checked {
    border: 6px solid black;
  }
  
  .sort-opt button {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    font-size: 14px;
  }
  
  .sort-opt button:hover,
  .sort-opt button:focus {
    color: #999;
  }
  
  .sort-opt button:active {
    background-color: white;
    color: black;
    outline: 1px solid black;
  }
  
  /*list of projects  */
  .guideline .items {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow-y: scroll;
    height: 1000px;
    align-items: center;
  }

  .guideline .items > ul {
    align-items: center;
  }

  .guideline .items > ul > li {
    display: block;
    width: 15.5vw;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 10px;
    color: #7777fd;
    margin: 15px;
    float: left;
    position: relative;
    border: 2px solid rgba(39, 38, 38, 0.69);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .guideline .items > ul > li a {
    color: #7777fd;
    text-decoration: none;;
  }
  .guideline .items .tags {
    height: 30px;
    text-align: left;
    font-size: 13px;
    word-break: keep-all;
    word-wrap: break-word;
    font-style: italic;
    margin-left: 10px;
    width: 15vw;
  }

  .guideline .items .img_area {
    width: 100%;
    height: 50%;
    background-color: #fff;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
  }

  .guideline .items .img_area img{
    max-width: 100%;
    max-height: 90%;
    border-radius: 10px;
    margin-top: 30px;
  }

  .guideline .items .topic {
    font-size: 18px;
    margin: 30px 0px 0px 30px;
    font-weight: bolder;
    text-align: left;
    height: 38px;
    padding: 0px;
  }

  .guideline .explanation {
    text-align: left;
    margin-left: 15px;
    height: 130px;
    overflow-y: hidden;
    margin-top: 0px;
    overflow-y: hidden;
  }
  
/*   .guideline .tags {

  } */


#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

  .create{
    margin-top: 70px;
  }

  .wrapper {
    margin: 100px 0;
  }
  .toggle_radio{
    position: relative;
    background: #7777fd;
    margin: 4px auto;
    overflow: hidden;
    padding: 0 !important;
    border-radius: 10px;
    border-radius: 10px;
    position: relative;
    height: 100px;
    width: 630px;
  }
  .toggle_radio > * {
    float: left;
  }
  .toggle_radio input[type=radio]{
    display: none;
  /*   position: fixed; */
  }
  .toggle_radio label{
    color: #7777fd;
    color: #fff;
    z-index: 0;
    display: block;
    width: 300px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    font-size: 19px;
  /*   line-height:100px; */
    /*background: rgba(0,0,0,.1);*/
    text-align: center;
    /*margin: 0 2px;*/
    /*background: blue;*/ /*make it blue*/
  }
  .toggle_option_slider{
    /*display: none;*/
    /*background: red;*/
    width: 300px;
    height: 150px;
    position: absolute;
    top: 0px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    backdrop-filter: blur(1px);
    cursor: pointer;
  }
  
  #first_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 0px;
  }
  #second_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
  }
  #third_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 218px;
  }
  
  span.description{
    top:0px;
  }
  
  p.day {
      line-height: 30px;
      margin-top: 10px;
  }

  .step-text {
    width: 100%;
    height: 800px;
  }

  .step-text .with-github {
    width: 100%;
    height: 800px;
    background-image: url("/img/help-wanted-github.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 10px;
  }

}

@media (max-width: 700px) {

}