@import url("elements/footer.css");
@import url("elements/header.css");

.main {
  position: relative;
  width: 100%;
  top: 100px;
}

.main .inner {
  width: 50vw;
  margin-left: 25vw;
}

.main .inner .top{
  font-size: 30px;
}
.main .inner > ul {
  display: flex;
  flex-direction: column;

}

.main .inner > ul > li {
  margin-top: 50px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.main .inner > ul > li .img{
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.main .inner > ul > li .title{
  margin-left: 50px;
}

.main .inner > ul > li .contents{
  margin-left: 50px;
}