
.section {
  width: 100vw;
}
footer {
  position: relative;
  width: 100%;
  background-color: rgb(236, 209, 170);;
  color: #000;
  text-align: center;
  margin-top: 100px;
  height: 500px;
  overflow-x: hidden;
}

footer > .inner{
  width: 100%;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer .inner > div > ul > li {
  list-style: none;
  padding: 0px 50px 0px 0px;
  font-size:1em !important;
  flex-shrink: 3;
}

footer > .inner > div{
  margin: 100px 60px 0px 60px;
  text-align: left;
  flex-shrink: 10;
  max-width: 17vw;
}

footer > .inner > div h4{
  margin-bottom: 1em;
  font-size: 2em;
  font-family: 'Tilt Warp', cursive !important;
}

footer > .inner > .categories {
  width: max-content;
}

footer > .inner > .categories ul{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(15, auto);
  max-height: 50vh;
}
footer > .inner > .categories ul li{
  padding-right: 40px;
}

footer > .inner > div ul li a{
  white-space: nowrap;
  transition: text-decoration 1s;
  text-decoration-color:#f6c6c6;
}

footer > .inner > div ul li a:hover{
  text-decoration: underline;
  text-decoration-color:#fa1682;
  text-decoration-thickness: 5px;
}

footer .email-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

footer .email-content {
  width: 360px;
  height: 40px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
  border-radius: 60px;
  overflow: hidden;
}

footer .subscription {
  position: relative;
  width: 100%;
  height: 100%;
}

footer .subscription .add-email{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 20px;
}

footer .subscription .submit-email {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 2px);
  width: 100px;
  border: none;
  border-radius: 60px;
  outline: none;
  margin: 1px;
  padding: 0 20px;
  cursor: pointer;
  background: #4ABEBB;
  color: #FFFFFF;
  transition: width .35s ease-in-out,
    background .35s ease-in-out;
}

footer .subscription.done .submit-email {
  width: calc(100% - 2px);
  background: #C0E02E;
}

footer .subscription .submit-email .before-submit,
footer .subscription .submit-email .after-submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 38px;
  transition: visibility .35s ease-in-out,
    opacity .35s ease-in-out;
}

footer .subscription.done .submit-email .before-submit,
footer .subscription:not(.done) .submit-email .after-submit {
  visibility: hidden;
  opacity: 0;
}

footer .subscription .submit-email .after-submit {
  transition-delay: .35s;
}

footer .subscription:not(.done) .submit-email .before-submit,
footer .subscription.done .submit-email .after-submit {
  visibility: visible;
  opacity: 1;
}