.section {
  width: 100vw;
}
footer {
  position: relative;
  width: 100%;
  background-color: rgb(236, 209, 170);;
  color: white;
  text-align: center;
  margin-top: 100px;
  height: 500px;
}

footer a:visited{
  color: #fff;
}

footer a{
  color: #fff;
}

footer > .inner{
  width: 100%;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer > .inner > div{
  margin: 100px 60px 0px 60px;
  text-align: left;
}

footer > .inner > div h4{
  margin-bottom: 30px;
  font-size: 30px;
}

footer > .inner > .news-letter input{
  margin-top: 30px;
  width: 250px;
  height: 43px;
}

footer > .inner > .categories {
  overflow-y: hidden;
  max-height: 300px;
}
footer > .inner > .categories ul li{
  font-size: 20px;
}

footer > .inner > .github a{
  font-size: 33px;
}
