@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

html {
  background-color: #fff;
}

html::-webkit-scrollbar-track
{
	/* border: 1px solid rgb(126, 125, 125); */
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

html::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

header {
  transition: background-color 0.3s, top 0.5s;
  color: #000;
  background-color: #e7e5de;
  z-index: 2;
}

a, h1, h2, h3, h4 ,h5, h6, p, a:visited {
  font-family: 'Tilt Warp', cursive;
  box-sizing:border-box;
  color: black;
}

header {
  top: 0px;
  position: fixed;
  width: 100vw;
  height: 90px;
  z-index: 2;
 /*  background-color: #D13639; */
}
.modal, .modal-2, .mobile {
  display: none;
}

header > .inner > ul {
  display: block;
  color: #000;
  width: 100%;;
}

header > .inner > ul {
  width: 80vw;
  left: 10vw;
  position: relative;
}

header > .inner > ul > li {
  float: left;
  padding: 13px;
  text-align: left;
  border-radius: 5px;
}

header > .inner > ul > li:nth-child(2):before{
content: '';
position: absolute;
top: 50px;
bottom: 0;
width: 110px;
height: 100px;
margin-left: -15px;
}

header > .inner > ul > li:nth-last-child(1):before{
  content: '';
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 110px;
  height: 100px;
  margin-left: -15px;
  }
  
header > .inner > ul > li:nth-child(1) {
  margin-left: 60px;
  margin-top: 0px;
}

header > .inner > ul > li:nth-child(1) img{
  padding: 0px 30px 30px 30px;
  height: 80px;
}

header > .inner > ul > li .item {
  color: #000;
}
header .inner > ul > li:nth-child(n + 2) {
  margin-top: 22px;
  margin-left: 15px;
  font-size: 15px;
}


header > .inner > ul > li:nth-child(1) button{
  padding-right: 19px;
  border: none;
  background-color:transparent;
}

header > .inner > ul > li:nth-last-child(1){
  float: right;
  position: relative;
  cursor: pointer;
}

  header > .inner > ul > li h2{
  float: left;
}

header > .inner > ul > li .title i{
  color: #000;
  border-radius: 10px;
  float: right;
  margin-left: 10px
}

header > .inner > ul > li:nth-child(3){
  margin-top: 10px;
}

header > .inner >ul > li:nth-last-child(1) .title a {
  transition: text-decoration 1s;
  text-decoration-color:#f6c6c6;
}
header > .inner > ul > li:nth-last-child(1):hover .title a{
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color:#fa1682;
  text-decoration-thickness: 5px;
}

header > .inner > ul > li .item {
  position: absolute;
  background-color: #f5f5f5;

  border-top: #D13639 3px solid;
  display: none;
  margin-top: 70px;
}

header > .inner > ul > li .item a {
  font-size: 14px;
  transition: text-decoration 1s;
  text-decoration-color:#f6c6c6;
}

header > .inner > ul > li .item a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color:#fa1682;
  text-decoration-thickness: 5px;
}

header > .inner > ul > li .item > ul {
  display: flex;
  align-items: flex-start;
  align-content: stretch;
  max-width: 70vw;
  flex-wrap: wrap;
}

header > .inner > ul > li .item > ul > li {
  padding: 50px;
}

header > .inner > ul > li .item > ul > li h3 {
  font-size: 30px;
}


header > .inner > ul > li:not(:nth-last-child(2)):hover .item {
  display: block;
}

header > .inner > ul > li .item-list li {
  margin-top: 30px;
}

header > .inner > ul > li .page > ul > li {
  padding: 10px 30px 10px 30px;
}

*{
box-sizing: border-box;
}
/* header search */
.search-box{
width: fit-content;
height: fit-content;
position: relative;
border-color: #000;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #7777fd;
  padding-right: 40px;
  color:#000;
}
.input-search::placeholder{
  color:rgba(109, 108, 108, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  background-color:transparent;
  pointer-events: painted;
}

.btn-search {
  color: #fff;
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid #7777fd;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.btn-search:focus i{
  color: #7777fd;
}

.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid #7777fd;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}



.input-search:focus ~ button i{
  color: #7777fd;
}

@media (max-width: 500px) {
  @keyframes x1 {
    100% {
      transform: rotate(-45deg);
      background-color: #fff;
    }
  }

  @keyframes x2 {
    100% {
      transform: rotate(45deg);
      margin-top: 0px;
      background-color: #fff;
    }
  }
  .pc {
    display: none;
  }

  .mobile {
    display: block;
  }

  header .inner > ul {
    left: 0px;
    width: 100vw;
  }

  header .inner > ul > li {
    padding: 0px;
    margin: 0px !important;
  }
  header .inner > ul > li:nth-child(1) {
    padding-top: 13px;
    z-index: 3;
    position: relative;
  }
  header .inner > ul > li:nth-child(1) img{
    transition: filter 2s;
  }
  header .inner > ul > li:nth-last-child(2) {
    padding: 30px !important;
    padding-right: 30px !important;
    float: right;
  }

  header .inner > ul > li:nth-last-child(2) .title .btn .l1{
    position: absolute;
    z-index: 3;
    padding: 0px;
    margin: 0px;
    width: 40px;
    height: 4px;
    background-color: #74ccdf;
    border-radius: 3px;
    display: block;
  }
  header .inner > ul > li:nth-last-child(2) .title .btn .l2{
    position: absolute;
    z-index: 3;
    padding: 0px;
    margin: 0px;
    width: 40px;
    height: 4px;
    background-color: #fa1682;
    margin-top: 10px;
    border-radius: 3px;
    display: block;
  }
  header .inner > ul > li:nth-last-child(2):hover .title .btn .l1{
    /* animation: x1 1s 0.3s forwards; */
  }
  header .inner > ul > li:nth-last-child(2):hover .title .btn .l2{
    /* animation: x2 1s 0.3s forwards; */
  }

  header .inner > ul:has(> li:nth-last-child(2):hover) img{
    /* filter: invert(100%); */
  }

  @keyframes modal-open {
    0%{
      left: 100vw;
    }
    100% {
      left: 0px;
    }
  }
  
  @keyframes modal-close {
    0%{
      left: 0px;
    }
    100% {
      left: 100vw;
    }
  }
  
  .modal {
    display: block;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 100vw;
    top: 0px;
    z-index: 2;
    background-color: #d7ae5c;
  }

  .title .btn{
    width: 50px;
    height: 50px;
  }
  
  .modal-inner {
    margin-top: 100px;
    width: 80vw;
    margin-left: 10vw;
  }
  header > .inner > ul > li:nth-last-child(2):hover .modal {
    display: block;
    animation-duration: 2s;
    /* animation: modal 1s 0.3s forwards; */
  }
  
  .modal .header-list ul li a{
    color: #fff;
    font-size: 40px;
  }
}