<div class="board">
  <div class="home">
    <h3><a href="/admin">HOME</a></h3>
  </div>
  <div class="contents">
    <h3>Contents</h3>
    <ul>
      <li><a href="/admin/manage/article">Manage article</a></li>
      <li><a href="/admin/manage/category">Manage category</a></li>
      <li><a href="">Manage announcement</a></li>
      <li><a href="">setting</a></li>
    </ul>
  </div>
  <div class="comments">
    <h3>Comments</h3>
    <ul>
      <li><a href="">Manage comment</a></li>
      <li><a href="">Manage setting</a></li>
    </ul>
  </div>
  <div class="traffic">
    <h3>Analysis</h3>
    <ul>
      <li><a href="">View raffic</a></li>
      <li><a href="">View source</a></li>
    </ul>
  </div>
  <div class="earnings">
    <h3>Earnings</h3>
    <ul>
      <li><a href="">Google Ads</a></li>
    </ul>
  </div>
  <div class="manage">
    <h3>Manage</h3>
    <ul>
      <li><a href="">Invite</a></li>
    </ul>
  </div>
</div>