<!DOCTYPE html>
<html lang="en">
<head>
  <title>CONNECTWITH</title>
  <%- include("../../elements/head");%>
  <link rel="stylesheet" href="css/elements/header.css">
  <link rel="stylesheet" href="css/admin/main.css">
</head>
<body>
  <%- include("../elements/board.ejs");%>
</body>
</html>