<!DOCTYPE html>
<html lang="en">
<head>
  <title>CONNECTWITH</title>
  <%- include("../../elements/head");%>
  <link rel="stylesheet" href="../../css/elements/header.css">
  <link rel="stylesheet" href="../../css/admin/article.css">
</head>
<body>
  <%- include("../elements/board.ejs");%>
  <div class="main">
    <div class="top">
      <h3>Manage article</h3>
      <button>Write article</button>
    </div>
    <ul>
      <li>
        <a href="">
          <h5>title</h5>
        </a>
      </li>
      <li>
        <a href="">
          <h5>title</h5>
        </a>
      </li>
      <li>
        <a href="">
          <h5>title</h5>
        </a>
      </li>
      <li>
        <a href="">
          <h5>title</h5>
        </a>
      </li>
      <li>
        <a href="">
          <h5>title</h5>
        </a>
      </li>
      <li>
        <a href="">
          <h5>title</h5>
        </a>
      </li>
    </ul>
  </div>
</body>
</html>