<!DOCTYPE html>
<html lang="en">
<head>
  <title>CONNECTWITH</title>
  <%- include("../../elements/head");%>
  <link rel="stylesheet" href="../../css/elements/header.css">
  <link rel="stylesheet" href="../../css/admin/article.css">
  <script defer src = "../../js/admin/category.js"></script>
</head>
<body>
  <%- include("../elements/board.ejs");%>
  <div class="main">
    <div class="top">
      <h3>Manage category</h3>
      <button id = "create_category">Generate new category using chat GPT</button>
    </div>
    <ul>
      <% for(let i = 0; typeof categories[i] != 'undefined'; i++){%>
        <li>
          <a href="">
            <h5><%= categories[i].name%></h5>
          </a>
        </li>
      <%}%>
    </ul>
  </div>
</body>
</html>